


<app-loading *ngIf="loading"></app-loading>


    <div class="container h-100 text-muted">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">

          <h1 class="text-white mb-4">Submit your profile</h1>

          <div class="card" style="border-radius: 15px;">
            <div class="card-body">

              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">

                  <h6 class="mb-0">Nombre</h6>

                </div>
                <div class="col-md-9 pe-5">

                  <input type="text" class="form-control form-control-lg"  #name/>
                  <div class="invalid-feedback">
                    Introduce un nombre valido.
                  </div>

                </div>
              </div>

              <hr class="mx-n3">

              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">

                  <h6 class="mb-0">Apellido</h6>

                </div>
                <div class="col-md-9 pe-5">

                  <input type="text" class="form-control form-control-lg" #apell/>
                  <div class="invalid-feedback">
                    Introduce un apellido valido.
                  </div>

                </div>
              </div>

              <hr class="mx-n3">

              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">

                  <h6 class="mb-0">Email address</h6>

                </div>
                <div class="col-md-9 pe-5">

                  <input type="email" class="form-control form-control-lg" placeholder="example@example.com" #mail1/>
                  <div class="invalid-feedback" id="duplicado">
                    Introduce un correo valido.
                  </div>

                </div>
              </div>

              <hr class="mx-n3">

              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">

                  <h6 class="mb-0">Contraseña</h6>

                </div>
                <div class="col-md-9 pe-5">

                  <input type="password" class="form-control form-control-lg" #password/>
                  <div class="invalid-feedback">
                    <ul>
                      La contraseña debe tener:
                      <li>almenos 8 caracteres.</li>
                      <li>almenos 1 de cada lo siguiente.
                        <ul>
                          <li>Numero (0-9)</li>
                          <li>Miniscula (a-)</li>
                          <li>Mayuscula (A-Z)</li>
                          <li>Caracter Special (e.g. !&#64;#%^&*)</li>
                        </ul>
                      </li>
                    </ul>
                  </div>

                </div>

              </div>

              <hr class="mx-n3">

              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">

                  <h6 class="mb-0">Bibliografia</h6>

                </div>
                <div class="col-md-9 pe-5">

                  <textarea class="form-control" rows="3" placeholder="Message sent to the employer" #desc></textarea>
                  <div class="invalid-feedback">
                    La descripcion debe de tener almenos 150 caracteres.
                  </div>

                </div>
              </div>

              <hr class="mx-n3">

              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">

                  <h6 class="mb-0">Upload CV</h6>

                </div>
                <div class="col-md-9 pe-5">

                  <input class="form-control form-control-lg" id="formFileLg" type="file" (change)="previewImage($event)"/>
                  <div class="small text-muted mt-2">Upload your profile picture. Max file
                    size 50 MB
                  </div>

                </div>
              </div>

              <hr class="mx-n3">

              <div class="px-5 py-4">
                <button type="button" (click)="loginProfe(name,apell,mail1,password,desc)" class="btn btn-primary btn-lg">Send application</button>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
