

<app-loading *ngIf="loading"></app-loading>

  <div class="container mt-3">

    <div class="row row-cols-1 row-cols-md-3 g-4"  id="masonry-grid">

        <div class="card-columns" *ngFor="let profesor of profesores" (click)="PerfilProfesor(profesor.user_id)" >
          <div class="card bg-secondary pointer">
            <img [src]="profesor.picture | noimage" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{profesor.name}}</h5>
              <p class="card-text">{{profesor.user_metadata.descripcion}}</p>
            </div>
          </div>
        </div>

      </div>
</div>


