<app-loading *ngIf="loading"></app-loading>


<div class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">
                        No Frontiers
                    </h1>
                    <p class="lead text-white-50 mb-4">

                        «No Frontiers» es un sitio web dinámico e interactivo diseñado para derribar las barreras
                        lingüísticas y facilitar una comunicación fluida entre estudiantes y profesores de todo el
                        mundo. Como su nombre indica, la plataforma adopta un enfoque sin fronteras del aprendizaje de
                        idiomas, dando la bienvenida a usuarios de diversos orígenes y ubicaciones geográficas.
                    </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a [routerLink]="['/equipo']" class="btn btn-primary btn-lg px-4 me-sm-3">Empezemos</a>
                        <a [routerLink]="['/about']" class="btn btn-outline-light btn-lg px-4">Mas Sobre Nosotros</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-5 border-bottom text-muted" style="background-color: white;" id="features">
    <div class="container px-5 my-5" style="background-color: white;">
        <div class="row gx-5">

            <div class="container mt-3 text-light">

                <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center ">

                    <div class="col" *ngFor="let profesor of profes" (click)="PerfilProfesor(profesor.user_id)"
                         style="cursor: pointer;">
                        <div class="card bg-secondary"
                             style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
                            <img [src]="profesor.picture" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{profesor.name}}</h5>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder">Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <a class="text-decoration-none" href="#!">
                    Call to action
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                <h2 class="h4 fw-bolder">Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <a class="text-decoration-none" href="#!">
                    Call to action
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">Featured title</h2>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                <a class="text-decoration-none" href="#!">
                    Call to action
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div> -->
        </div>
    </div>
</div>

<div class="bg-light py-5 text-muted">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
            <h2 class="fw-bolder">Ponte en Contacto</h2>
            <p class="lead mb-0">Nos encataria saber mas de ti</p>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">

                <form id="contactForm" (ngSubmit)="formMail(form)" #form="ngForm">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" name="name" ngModel required type="text"
                               placeholder="Inserte su nombre..."
                               [ngClass]="{
                   'is-invalid': form.controls['name']?.invalid && form.controls['name']?.touched,
                   'is-valid': form.controls['name']?.valid && form.controls['name']?.touched
               }"
                               aria-describedby="nameHelp">
                        <label for="name">Nombre completo</label>
                        <div id="nameHelp"
                             *ngIf="form.controls['name']?.errors?.['required'] && form.controls['name']?.touched"
                             class="invalid-feedback">Nombre no válido.
                        </div>
                    </div>

                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" name="email" ngModel required
                               placeholder="nombre@ejemplo.com"
                               [ngClass]="{
                   'is-invalid': form.controls['email']?.invalid && form.controls['email']?.touched,
                   'is-valid': form.controls['email']?.valid && form.controls['email']?.touched
               }"
                               aria-describedby="emailHelp">
                        <label for="email">Dirección de correo electrónico</label>
                        <div id="emailHelp"
                             *ngIf="form.controls['email']?.errors?.['required'] && form.controls['email']?.touched"
                             class="invalid-feedback">Email no válido.
                        </div>
                    </div>

                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" name="phone" ngModel required type="tel"
                               placeholder="657-694-544"
                               [ngClass]="{
                   'is-invalid': form.controls['phone']?.invalid && form.controls['phone']?.touched,
                   'is-valid': form.controls['phone']?.valid && form.controls['phone']?.touched
               }"
                               aria-describedby="phoneHelp">
                        <label for="phone">Teléfono</label>
                        <div id="phoneHelp"
                             *ngIf="form.controls['phone']?.errors?.['required'] && form.controls['phone']?.touched"
                             class="invalid-feedback">Número de teléfono no válido.
                        </div>
                    </div>

                    <!-- Message input-->
                    <div class="form-floating mb-3">
        <textarea class="form-control" id="message" name="mensaje" ngModel required placeholder="Inserte su mensaje..."
                  style="height: 10rem"
                  [ngClass]="{
                      'is-invalid': form.controls['mensaje']?.invalid && form.controls['mensaje']?.touched,
                      'is-valid': form.controls['mensaje']?.valid && form.controls['mensaje']?.touched
                  }"
                  aria-describedby="messageHelp"></textarea>
                        <label for="message">Mensaje</label>
                        <div id="messageHelp"
                             *ngIf="form.controls['mensaje']?.errors?.['required'] && form.controls['mensaje']?.touched"
                             class="invalid-feedback">Mensaje no válido.
                        </div>
                    </div>

                    <!-- Submit Button-->
                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg" id="submitButton" type="submit">Enviar</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
