

<main class="px-3">

    <button class="btn btn-outline-danger mt-3 ms-3 "  (click)="regresar()" >
        <== Regresar
    </button>

    <button class="btn btn-outline-primary mt-3 ms-3 " style="width: 120px;" (click)="chat()" >
      Charlar
  </button>

    <div class="card mb-3 container mt-3 bg-secondary"  *ngFor="let profesorDetalles of profesorDetalles" >
        <div class="row g-0 ">
          <div class="col-md-4 ">
            <img [src]="profesorDetalles.picture" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{profesorDetalles.name}}</h5>
              <p class="card-text">{{profesorDetalles.user_metadata.descripcion}}</p>
              <p class="card-text"><small class="text-white">Editado: {{profesorDetalles.updated_at | date:'short'}}</small></p>
            </div>
          </div>
        </div>
      </div>



</main>


