

<main>
    <div class="container mt-3 text-light">

        <div class="row row-cols-1 row-cols-md-3 g-4">

            <div class="col" *ngFor="let profesor of profesores" (click)="PerfilProfesor(profesor.user_id)" style="cursor: pointer;" >
              <div class="card bg-secondary">
                <img [src]="profesor.picture" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{profesor.name}}</h5>
                  <p class="card-text">{{profesor.user_metadata.descripcion}}</p>
                </div>
              </div>
            </div>

          </div>
    </div>

    <div class="alert alert-danger container mt-5" role="alert"  *ngIf="profesores.length==0">
      No encontramos al profesor que busca !!!!!
    </div>

</main>
